*
{
    box-sizing: border-box;
}
header{
    background-image: url('../Resources/bg-car-image-2.jpg');
    background-size: cover;
    height: 90vh;
    width: auto;
}
.top-bar{
    display: flex;
    justify-content: space-around;
    

}
.logo{
    display: inline;
    height: fit-content;
    width: fit-content;
    font-size: 2em;
    padding-top: 5px;
    margin-right: 50px;
}
ul.top{
 display: inline;
}
ul{
    list-style-type: none;
    padding: 0px;
}
ul> li{
    display: inline;
} 

ul.top > li{
    margin: 10px;
    height: fit-content;
    width: fit-content;
}

.main-content{
    font-size: 2em;
    margin: 250px;
    color: #00c2ff;
}

 a{
    color: white;
    text-decoration: none;
}

.highlighted{
    font-size: 1.5em;
    color:white;
    background-color: #00c2ff;
    padding: 2px 2px;
    margin: 2px 2px;
}

.footer-list
{
    display: flex;
    justify-content: center;
    height: 10vh;
}

footer strong{
    color: #00c2ff;
}
footer > ul{
    display: flex;
    max-width: 100%;
    padding: 0px 0px;
    margin: 0px 0px;
    justify-content: start;
}
footer > ul > li {
    display: inline;
    margin: 20px 20px;
}
p{
    padding: 0px;
    margin: 0px;
    display: inline;
}

footer{
    background-color: black;
    color: white;
}